body{
    font-family: 'Oswald', sans-serif;
}
.site-section{
    margin-bottom: 50px;
}
#logo {
    max-width: 250px;
    border: 2px solid #ccc;
    padding: 6px;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    border-radius: 70px 70px 70px 70px;
    margin-left: 3em;
}
.bg-blue{
    background-color: #5d67a7;
}
.navbar-nav .nav-item a.nav-link {
    color: #dadada;
    font-size: 1.1em;
}
.navbar-nav .nav-item a.nav-link:hover,
.navbar-nav .nav-item a.nav-link:active{color: #fff;}
.navbar-nav .nav-item a.nav-link:focus{color: #aacafb;}
@media screen and (max-width: 991px) {
    ul.navbar-nav.ml-auto {
        align-items: center;
    }
}

/*================ Hero Section Css ===============*/
.hero-sec{
    width: 100%;
    max-height: 450px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.5)),url("../Images/my_images/home-heading.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;

}
.hero-sec-time{
    width: 100%;
    max-height: 450px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.5)),url("../Images/my_images/shop-time-heading.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.hero-sec-greeting{
    width: 100%;
    max-height: 450px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.5)),url("../Images/my_images/greeting-card-heading.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.hero-sec-playing{
    width: 100%;
    max-height: 450px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.5)),url("../Images/my_images/playing-card-heading.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;

}
.hero-sec-post{
    width: 100%;
    max-height: 450px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.5)),url("../Images/my_images/post_card-heading.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.hero-txt{
    font-family: 'Galada', cursive;
    color: #fff;
    text-align: center;
}
/*============= UI Section Css ============*/
.site-heading{
    margin: 30px 0;
    text-align: center;
    overflow: hidden;
}
.site-heading span {
    display: inline-block;
    position: relative;
}
.site-heading span:before, .site-heading span:after {
    content: "";
    border-bottom: 3px solid #5d67a7;
    width: 3em;
    margin: 0 1em;
    position: absolute;
    bottom: .5em;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.site-heading span:before {
    right: 100%;
}
.site-heading span:after {
    left: 100%;
}
.site-heading:hover span:before,
.site-heading:hover span:after{
    width: 5em;
}
.site-txt{
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}
.svg-watch{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform-origin: 500px 500px;
    -moz-transform-origin: 500px 500px;
    -ms-transform-origin: 500px 500px;
    -o-transform-origin: 500px 500px;
    transform-origin: 500px 500px;
}
.svg-watch:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.svg-watch .st7{
    fill: #fff;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.svg-watch:hover .st7 {
    fill: #ffc107cc !important;
}
.svg-playing,
.svg-post,
.svg-greeting{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.svg-playing:hover{
    fill: #a20784;
    cursor: pointer;
}
.svg-post:hover{
    fill:#163169;
    cursor: pointer;
}
.svg-greeting:hover{
    fill:#00887b;
    cursor: pointer;
}
/*================== SVG tool tip css =================*/
text.svg-tlt-playing {
    transform: translate(816px, 103px);
    opacity: 0;
    font-size: 2em;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.svg-playing:hover + text.svg-tlt-playing,
.svg-playing:active + text.svg-tlt-playing
{opacity: 1;}
text.svg-tlt-post{
    transform: translate(826px, 403px);
    opacity: 0;
    font-size: 2em;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.svg-post:hover + text.svg-tlt-post{opacity: 1;}
text.svg-tlt-greeting{
    transform: translate(127px, 309px);
    opacity: 0;
    font-size: 2em;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.svg-greeting:hover + text.svg-tlt-greeting{opacity: 1;}
/*========= bathroom svg css ========== */
path#XMLID_4_{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
path#XMLID_4_:hover {
    fill: #65b3fc;
}
text#XMLID_1_{
    transform-origin: center;
    transition: all .3s;
}

text#XMLID_1_:hover {
    font-size: 1.7em;
    font-weight: 200;
    fill: #04730f;
}
/*=========== Shop-time page Css ============*/
.table{
    width: 80%;
    margin: 50px auto;
}
.form-1{
    font-size: 1.2rem;
    padding: 0 3rem;
}

/*=========== Gallery Style ===========*/

.title {
    text-align: center;
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 3.75rem;
    letter-spacing: 5px;
    margin-bottom: 0;
    color: #3E3E3E;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2.75rem;
    }
}

.site-gallery p {
    margin: 0 auto 2rem;
    text-align: center;
    font-family: 'oswald';
    font-size: 1.25rem;
    color: #444;
    font-weight: 100;
    width: 90%;
}

.site-gallery {
    margin-top: 50px;
    width: 90%;
    margin: 50px auto;
    max-width: 1100px;
}

.gallery-item {
    position: relative;
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto 2rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all .4s ease;
}

@media screen and (min-width: 600px) {
    .gallery-item {
        height: 300px;
    }
    .site-gallery p {
        height: 70%;
    }
}

@media screen and (min-width: 720px) {
    .gallery-item {
        display: inline-block;
        width: 45%;
        margin-left: 25px;
    }
}

.gallery-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.gallery-overlay:after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all .3s ease;
}

.gallery-title {
    position: relative;
    top: -200px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.gallery-link {
    position: relative;
    display: block;
    width: 60%;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.25em;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.gallery-link:hover {
    background-color: white;
    color: #202020;
}

.gallery-item:hover .gallery-title {
    top: 0;
}

.gallery-item:hover .gallery-link {
    top: 0;
}
.gallery-item:hover .gallery-overlay:after {
    opacity: .75;
}
/*===================== Modal Css ====================*/
#modal-heading{
    margin-bottom: 20px;
}

/*============= Gallery image throughout the site =================*/
.greeting1 {background-image: url("../Images/Greetng_Cards/GC1.jpg");}
.greeting2 {background-image: url("../Images/Greetng_Cards/GC2.jpg");}
.greeting3 {background-image: url("../Images/Greetng_Cards/GC3.jpg");}
.greeting4 {background-image: url("../Images/Greetng_Cards/GC4.jpg");}
.greeting5 {background-image: url("../Images/Greetng_Cards/GC5.jpg");}
.greeting6 {background-image: url("../Images/Greetng_Cards/GC6.jpg");}
.playing1{background-image: url("../Images/Playing_Cards/CD1.jpg")}
.playing2{background-image: url("../Images/Playing_Cards/CD2.jpg")}
.playing3{background-image: url("../Images/Playing_Cards/CD3.jpg")}
.playing4{background-image: url("../Images/Playing_Cards/CD4.jpg")}
.playing5{background-image: url("../Images/Playing_Cards/CD5.jpg")}
.playing6{background-image: url("../Images/Playing_Cards/CD6.jpg")}
.playing7{background-image: url("../Images/Playing_Cards/CD7.jpg")}
.post1{background-image: url("../Images/Postcards/PC1.jpg")}
.post2{background-image: url("../Images/Postcards/PC2.jpg")}
.post3{background-image: url("../Images/Postcards/PC3.jpg")}
.post4{background-image: url("../Images/Postcards/PC4.jpg")}
.post5{background-image: url("../Images/Postcards/PC5.jpg")}
.post6{background-image: url("../Images/Postcards/PC6.jpg")}
.post7{background-image: url("../Images/Postcards/PC7.jpg")}


/*============== Footer ============*/
footer{
    height: 150px;
    background: #7be0ad;
    color: #ffffff;
}
footer p{
    width: 90%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}
.footer-icon{text-align: center}
.footer-icon li{
    display: inline-block;
    font-size: 3em;
    padding-right: 30px;
}
.fa-facebook{color:#3b5999}
.fa-twitter{color:#55acee}
.fa-instagram{color:#b90023}
.fa-google-plus{color:#dd4b39}
.fa-linkedin{color:#0077B5}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-google-plus,
.fa-linkedin{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus:hover,
.fa-linkedin:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (min-width: 769px) {
    .hero-txt h1{
        font-size: 4rem;
    }
    .site-heading{font-size: 3em;}
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .hero-txt h1{font-size: 3rem}
    .site-txt{font-size: 16px}
    footer p{font-size: 13px}
    .footer-icon li{
        font-size: 1.5em;
    }
    .form-1{padding: 0;}
}
@media screen and (min-width: 300px) and (max-width: 425px) {
    .hero-txt h1{font-size: 2rem}
    .site-txt{font-size: 15px}
    footer p{font-size: 13px}
    .footer-icon li{
        font-size: 1.5em;
    }
    .form-1{padding: 0;}
}